body{
    background: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
h2{
    font-size: 20px;
    line-height: 1.4;
    font-weight: 400;
    margin: 0;
}

  .file-upload {
    margin: 0 auto;
    width: 80%;
  
  }
  
  .file-upload-btn {
    
  }
  
  .file-upload-btn:hover {
    /* background: #ccc;
    color: #333; */
    transition: all .2s ease;
    cursor: pointer;
 
  }
  
  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
  }
  
  .file-upload-content138 {
    display: none;
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    padding-top: 0;
    margin-top: 20px;
    border: 4px dashed #b4b9be;
    transition: all .2s ease;
  }

  .file-upload-contentGM {
    display: none;
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    padding-top: 0;
    margin-top: 20px;
    border: 4px dashed #b4b9be;
    transition: all .2s ease;
  }

  .file-upload-contentPSA {
    display: none;
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    padding-top: 0;
    margin-top: 20px;
    border: 4px dashed #b4b9be;
    transition: all .2s ease;
  }

  .file-upload-contentNCAE {
    display: none;
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    padding-top: 0;
    margin-top: 20px;
    border: 4px dashed #b4b9be;
    transition: all .2s ease;
  }
  
  .file-upload-input138 {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
    background: #fff;
  }

  .file-upload-inputGM {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
    background: #fff;
  }

  .file-upload-inputPSA {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
    background: #fff;
  }
  
  .file-upload-inputNCAE {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
    background: #fff;
  }
  
  
  .file-upload-wrap138 {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    padding-top: 0;
    margin-top: 20px;
    border: 4px dashed #b4b9be;
    transition: all .2s ease;
  }

  .file-upload-wrapGM {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    padding-top: 0;
    margin-top: 20px;
    border: 4px dashed #b4b9be;
    transition: all .2s ease;
  }

  .file-upload-wrapPSA {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    padding-top: 0;
    margin-top: 20px;
    border: 4px dashed #b4b9be;
    transition: all .2s ease;
  }

  .file-upload-wrapNCAE {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    padding-top: 0;
    margin-top: 20px;
    border: 4px dashed #b4b9be;
    transition: all .2s ease;
  }

  .image-dropping{
    background: #fff;
  }

  .image-dropping,.file-upload-wrap138:hover  {
    background-color: #f1f1f1;
    border: 4px dashed rgb(92, 92, 92);
  }

  .file-upload-wrap138:focus{
    background: #fff;
  }


  
  .image-dropping,.file-upload-wrapGM:hover  {
    background-color: #f1f1f1;
    border: 4px dashed rgb(92, 92, 92);
  }

  .file-upload-wrapGM:focus{
    background: #fff;
  }

  .image-dropping,.file-upload-wrapPSA:hover  {
    background-color: #f1f1f1;
    border: 4px dashed rgb(92, 92, 92);
  }

  .image-dropping,.file-upload-wrapNCAE:hover  {
    background-color: #f1f1f1;
    border: 4px dashed rgb(92, 92, 92);
  }

  .file-upload-wrapPSA:focus{
    background: #fff;
  }

  .file-upload-wrapNCAE:focus{
    background: #fff;
  }
  
  
  .drag-text {
    text-align: center;
    padding: 3rem 5rem;
  }
  
  .drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    padding: 60px 0;
  }
  
  #overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;
  }
  
  #text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: #fff;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }

  .input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 53%;
    margin: 0 auto;
}