body{
    background: #f1f1f1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
  }
  
h2{
    font-size: 20px;
    line-height: 1.4;
    font-weight: 400;
    margin: 0;
}

  .file-upload {
    background-color: #ffffff;
    margin: 0 auto;
    padding: 20px 7rem;
  
  }
  
  .file-upload-btn {
    
  }
  
  .file-upload-btn:hover {
    /* background: #ccc;
    color: #333; */
    transition: all .2s ease;
    cursor: pointer;
 
  }
  
  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
  }
  
  .file-upload-content138 {
    display: none;
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    padding-top: 0;
    margin-top: 20px;
    border: 4px dashed #b4b9be;
  }

  .file-upload-contentGM {
    display: none;
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    padding-top: 0;
    margin-top: 20px;
    border: 4px dashed #b4b9be;
  }

  
  .file-upload-input138 {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
    background: #fff;
  }

  .file-upload-inputGM {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
    background: #fff;
  }

  .file-upload-inputGM {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
    background: #fff;
  }
  
  
  .file-upload-wrap138 {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    padding-top: 0;
    margin-top: 20px;
    border: 4px dashed #b4b9be;
   
  }

  .file-upload-wrapGM {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    padding-top: 0;
    margin-top: 20px;
    border: 4px dashed #b4b9be;
   
  }

  
  .image-dropping,.file-upload-wrap138:hover  {
    background-color: #fff;
    border: 4px dashed rgb(92, 92, 92);
    
  }
  
  .image-dropping,.file-upload-wrapGM:hover  {
    background-color: #fff;
    border: 4px dashed rgb(92, 92, 92);
    
  }

  
  .drag-text {
    text-align: center;
    padding: 3rem 5rem;
  }
  
  .drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    padding: 60px 0;
  }
  



  #overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;
    /* z-index: 1; */
  }
  
  #text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: #fff;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }
